* {
    margin: 0 auto;
}
.body {
height: 100%;
width: 100%;
}
 ul {
padding: 0px!important;
}
 .menu-principal {
background-color: #252323;
height: 60px;
width: 100%;
}
 main {
width: 980px;
position: relative;
}
 .logo {
padding: 15px;
width: 60%;
float: left;
}
 .redes-sociais ul li {
margin-left: 15px;
display: inline-block;
list-style: none;
margin-top: 15px;
}
 .redes-sociais {
width: 25%;
float: right;
}
 .header-2 {
width: 980px;
background-color: #ffffff;
padding: 16px;
}
.menu-urls {
border-bottom: 3px solid #efefef;
height: 80px;
}
 .menu ul li {
display: inline;
color: #8b8b8b;
margin-left: 15px;
}
 .menu ul li a {
color: #8b8b8b;
text-decoration: none;
font-size: 20px;
text-transform: uppercase;
}
.menu {
float: left;
width:70%;
}
.busca {
text-align: center;
width: 30%;
float: right;
}
.busca input {
height: 30px;   
width: 190px;
padding-left: 10px;
background-image: url('../images/icone-search.png');
background-repeat: no-repeat;
background-position: 96%;
border: 1px solid rgb(0, 0, 0);
}
.col-100{
width: 100%;
float: left;
position: relative;
}