* {
    margin: 0 auto;
    font-family: Lexand, sans-serif;
}
.body {
    height: 100%;
    width: 100%;
}
 ul {
    padding: 0px!important;
    height:78px;
}
 .menu-principal {
    background-color: #252323;
    height: 60px;
    width: 100%;
}
main, .content {
    width: 980px;
    position: relative;
}
 .logo {
    padding: 15px;
    width: 60%;
    float: left;
}
.redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    list-style: none;
    margin-top: 15px;
}
 .redes-sociais {
    width: 25%;
    float: right;
}
 .header-2 {
    width: 980px;
    background-color: #ffffff;
    padding: 16px;
}
.menu-urls {
    border-bottom: 3px solid #efefef;
    height: 70px;
}
 .menu ul li {
    display: inline-block;
    color: #111111;
    margin-left: 22px;
    height: 50px;
}
 .menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.menu {
    float: left;
    width:70%;
}
.menu ul li:hover {
    border-bottom: 3px solid #00bac6
}
.menu ul li a:hover {
    color: #00bac6;
}
.busca {
    text-align: center;
    width: 27%;
    float: right;
}
.busca input {
    height: 25px;   
    width: 190px;
    padding-left: 18    px;
    background-image: url('../images/icone-search.png');
    background-repeat: no-repeat;
    background-position: 96%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}
 .col-100 {
    width: 100%;
    float: left;
    position: relative;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
button.slick-prev:before {
    content: none;
}
button.slick-next:before {
    content:none;
}
.texto-destaque {
    text-align: justify;
    height:100px;
}
.texto-destaque p {
    color: #111111;
    font-size: 18px;
    text-align: justify;
}
.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #111111;
    padding-top: 20px;
}
.col-3 {
    width:29%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    padding-top: 64px;
}
.bloco-texto {
    margin-top: 5em;
}
.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
}
.bloco-imagem {
    height: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.bloco-imagem b, p {
    text-align: left;
}
.bloco-texto {
    margin-top: 3em;
}

h3 {
    font-weight: normal!important;
}

.bloco-imagens-texto {
    background-color: #eeeeee;

}
.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: #ffffff;

    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #eeeeee;
}
.content p{
    padding-top:56px;
}
.col-4{
    float: left;
    width: 25%;
    text-align: center;
}
.col-4 img{
    margin: 0 auto;
    padding-top: 1em;
    vertical-align: middle;
}
.bloco-logos {
    height: 170px;
}
.bloco-logos img {
    margin-top: 14px;
}
.footer h3 {
    padding-top: 25px;
}
.footer {
    background-image: url(../images/footer.png);
    color: #ffffff;
    height: 250px;
}
.footer p {
    text-align: justify;
    font-size: 15px;
    padding-left: 13px;
    padding-top: 10px;
}
.footer2 {
    background-image: url(../images/footer2.png);
    color: #c1c1c1;
    height: 130px;
}
